

.lead-page-section{
    color:$white;
}

.news-section{

    padding-bottom:100px;

    .row{
        margin-bottom:50px;

        .news-section-title{

            font-size:28px;
        }
        .news-section-description{
            overflow: hidden;
            line-height: 2.5rem;
            max-height:2.5em * 2;

        }

        figure{

            img{
                width:100%;
                transition:1s linear;
                &:hover{
                    transform:scale(1.05);
                }
          
            }
        }

        .news-section-link{

            font-size: 1.4rem;
            font-weight:$font-weight-medium;
            letter-spacing:0.1rem;
            line-height: 1.7rem;
            text-decoration:none;

        }
    }
    //row ends

}
//news-section ends



@media(min-width:576px){
    .lead-page-section{
        color:$gray-900;
    }


}

.news-section{
    .news-section-title{

        font-size:36px;
    }
    
  
}//news section ends

@media (min-width:768px){
    .news-section{
  
        .row{
            margin-bottom:112px;
        }

    }

}